body{
    background-color: #f6dfeb;
}
.todo{
    background-color:rgb(235, 129, 147);
}

.doing{
    background-color: #ffd56b;
}
.done{
    background-color:#d6efc7;
    text-decoration: line-through;
}

.submit{
    width: 120px;
    height: 30px;
    border-radius: 50px;
    background-color: cadetblue;
}
li{
    font-size: 30px;
}
.textf{
    height: 30px;
    border-radius: 5px;
}
.nav-button{
    background-color: #e27802;
    width: 120px;
    height: 30px;
    border-radius: 50px;
}